<p>
  <b>First name:</b>
  <%=h @guest.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @guest.last_name %>
</p>

<p>
  <b>Rsvp:</b>
  <%=h @guest.rsvp %>
</p>


<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>