<h1 style="float:left">Listing Invitations</h1>
<%= link_to 'New Invitation', new_invitation_path, :class => "add"%>
<br style="clear:both;">
<ul>
<% @invitations.each do |invitation| %>
  <li>
    <h2><%=h invitation.last_name %></h2> 
    <h3><%=h invitation.recipient %></h3>
    <p>
      <%=h invitation.address1 %><br/>
    <% if invitation.address2 != ''%>
        <%=h invitation.address2 %><br/>
    <% end%>
      <%=h invitation.city %><br/>
      <%=h invitation.province%><br/>
      <%=h invitation.postal_code %>
    </p>
    <% if invitation.mailed_date%>
      Mailed on <strong><%=h invitation.mailed_date %></strong>
    <% end %>
    <%= link_to 'Show', invitation %>
    <%= link_to 'Edit', edit_invitation_path(invitation) %>
  </li>
<% end %>
</ul>

<br />

